.fc.loading .fc-view-harness::after {
  background: rgba(255, 255, 255, 0.75);
  bottom: 0;
  content: "\27F3";
  font-size: 10vh;
  left: 0;
  line-height: 100vh;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}
