.fc-yearview {
  border-collapse: collapse !important;
}
.fc-yearview .fc-day-col {
  width: 35px;
}
.fc-yearview th {
  padding: 8px;
}
.fc-yearview .fc-day-empty {
  border: none;
}
.fc-yearview .fc-day-today {
  background-color: var(--fc-today-bg-color);
}
.fc-yearview .fc-day {
  border-right: none;
  font-weight: bold;
  padding: 2px 0;
  position: relative;
  text-align: center;
}
.fc-yearview .fc-events {
  border-left: none;
  padding: 1px 2px 0 0;
  position: relative;
}
.fc-yearview .fc-bg-event {
  z-index: -1;
}
.fc-yearview .fc-event {
  border-radius: 3px;
  display: block;
  font-size: var(--fc-small-font-size, 0.85em);
  margin: 1px 0 2px 0;
  overflow: hidden;
  padding: 1px 2px;
}
.fc-yearview .fc-event-time {
  display: inline-block;
  margin-right: 3px;
  overflow: unset;
}
.fc-yearview .fc-event-location {
  display: inline-block;
}
