.fc-yearview table.fc-scrollgrid {
  border: none;
  border-collapse: collapse;
  min-width: 100%;
  width: auto;
}
.fc-yearview .fc-day-empty {
  border: none;
}
.fc-day-today {
  background-color: var(--fc-today-bg-color, rgba(255, 220, 40, 0.15));
}
.fc-yearview .fc-day {
  border-right: none;
  padding: 0 2px;
  position: relative;
  text-align: center;
}
.fc-yearview .fc-bg-event {
  z-index: -1;
}
.fc-yearview .fc-events {
  border-left: none;
  padding: 2px;
  position: relative;
}
.fc-yearview .fc-event {
  border-radius: 3px;
  font-size: var(--fc-small-font-size, 0.85em);
  margin: 1px 0 2px 0;
  padding: 1px 2px;
}
.fc-yearview .fc-event-time {
  margin-right: 3px;
}
